body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.footer {
  background: #0a2a66;
  color: white;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 33px;
  padding-bottom: 0px;
}

/* LEFT SIDE: Logo + Info beside */
.footer-left {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 60%;
}

.footer-logo {
  margin-right: 20px;
  width: 220px;
  height: 220px;
}

.footer-info h1 {
  margin: 0;
  font-size: 40px;
  line-height: 1.4;
}

.footer-info h3 {
  margin: 30px 0 5px;
  font-size: 23px;
}

.schedule-box {
  background: #93abee;
  padding: 35px 12px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
}

.clock-icon {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}


.schedule-box p {
    
    font-size: 20px;
  margin: 8px 0;
}

.schedule-box .emergency {
  color: red;
  font-weight: bold;
}

/* RIGHT SIDE */
.footer-right {
  max-width: 35%;
}

.footer-right h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.contact-item {
  background: #93abee;
  padding: 17px;
  border-radius: 8px;
  margin-bottom: 26px;
  font-size: 15px;
}

/* BOTTOM */
.footer-bottom {
  border-top: 3px solid #fff;
  margin-top: 20px;
  padding-top: 0px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 23px;
  font-size: 20px;
  
}
.footer-bottom a {
  color: white;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
