@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
  font-family: 'Spline Sans', sans-serif;
}

body {
  font-family: 'Spline Sans', sans-serif;
}
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app-main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}
